body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	background-image: url("bg2.jpg");
}

header {
	background-image: url("bg.jpg"); 
	text-align: center;
	padding: 50px;
}

h1 {
	text-transform: uppercase;
	color: #324B4B;
	font-size: 550%
}

h2 {
	color:#fff;
	font-size: 30px;
}

input[type=number] {
	width: 6em;
}
